/.build/
/_build/
/Build
/Build.bat
/blib
/Makefile

/carton.lock
/.carton/
/cpanfile.snapshot
/local/

nytprof.out
nytprof/

cover_db/

*.bak
*.old
*~
*.swp
*.o
*.obj

!LICENSE

/_build_params

MYMETA.*

/WebService-SOP-Auth-V1_1-*
/.build
!Build/
!META.json
